{% extends "base.html.twig" %}

{% block body %}

    <h1 class="display-4 mx-auto my-5 text-center">Mot de passe oublié</h1>

    <h3 class="mx-auto text-center my-2">Veuillez entrer votre adresse Email</h3>

    {% if msgdata is defined  %}
    <p class="bg-success p-2 mx-auto col-md-4 my-4 text-center text-white">{{ msgdata }}</p>
        
    {% endif %}

    <form method='post' class="col-md-4 mx-auto my-5">
       <div class="form-group">
           <label for="email">Email</label>
           <input type="text" id="email" name="email" class="form-control">
       </div> 
       <button type="submit" class="btn btn-dark col-md-3 mx-auto text-center">Envoyer</button>
    </form>
    
{% endblock %}