.contenu-base{
    /* height: 50vh; */
    /* background-color: blueviolet; */
    /* height: 95vh;
    position: relative; */
}

/* .navbar{
    position: fixed;
} */

#sur-carousel{
    position: absolute;
    z-index: 2;
    height: 600px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.pos{
    position: relative;
}

#carouselExampleControls{
    /* position: absolute; */
    z-index: 1;
    /* opacity: 0.3; */
}

#cadre-recherche{
    background-color: rgb(226, 98, 38);
}

#desposer-annonce{
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgb(138, 138, 138);
    z-index: 99;
    display: none;
}

.deposer-annonce-titre{
    color: rgb(226, 98, 38);
    background-color: rgb(43, 43, 43);
}