.contenu-base{
    height: 95vh;
}

#accueil{
    position: relative;
}

#sur-carousel{
    position: absolute;
    /* background-color: blue; */
    /* opacity: 0.3; */
    z-index: 2;
    height: 600px;
    width: 100%;
}

/* #titre-accueil{
    z-index: 2;
}

#barre-recherche{
    position: absolute;
    z-index: 3;
} */

#carouselExampleControls{
    position: absolute;
    z-index: 1;
}

#cadre-recherche{
    background-color: rgb(226, 98, 38);
}

