{% extends 'base.html.twig' %}

{% block title %}Hello BlogController!{% endblock %}

{% block Bienvenue %}

    <h1 id="titre-accueil" class='display-4 text-white mb-5'>{{ title }}</h1>
                        
{% endblock %}

{% block body %} 
    
    <div class="row d-flex justify-content-center">
        {% for nouvelleAnnonce in annonce %}

            <div class="col-md-3 border border-secondary rounded mr-5 mb-5 mt-5 text-center">
                <img src="{{ nouvelleAnnonce.Image }}" alt="{{ nouvelleAnnonce.title }}" class="col-md-12 rounded"><hr>
                <h2>{{ nouvelleAnnonce.title }}</h2>
            </div>

        {% endfor %}
    </div>
    

{% endblock %}