<table class="table table-bordered">
    <tr>
        <td>Email</td>
        <td>{{ contact.email }}</td>
    </tr>
    <tr>
        <td>Message</td>
        <h2 style="color: rgb(0, 133, 173); font-weight: bold;">Bienvenue ! Vous êtes maintenant inscrit Chez AnnoncePerso !</h2>
        <div>Vous pouvez dès à présent vous connectez en cliquant <span><a style="color: red" href="http://localhost:8000/connexion">ici</a></span>  et bénéficier des fonctionnalitées que l'on vous offre !</div>
        <td>L'équipe AnnoncePerso</td>
    </h3>
</table>